pipeline/MySQLToBlobToHDInsight.json
{
	"name": "MySQLToBlobToHDInsight",
	"properties": {
		"activities": [
			{
				"name": "Film_Table",
				"type": "Copy",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "RelationalSource",
						"query": "select * from `film`"
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Film_OnPrem",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Film_Blob_Storage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Customer_Table",
				"type": "Copy",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "RelationalSource",
						"query": "select * from `customer`"
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Customer_OnPrem",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Customer_Blob_Storage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Inventory_Table",
				"type": "Copy",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "RelationalSource",
						"query": "select * from `inventory`"
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Inventory_OnPrem",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Inventory_Blob_Storage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Rental_Table",
				"type": "Copy",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "RelationalSource",
						"query": "select * from `rental`"
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Rental_OnPrem",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Rental_Blob_Storage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Address_Table",
				"type": "Copy",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "RelationalSource",
						"query": "select address_id,address, address2 ,\ndistrict ,\ncity_id ,\npostal_code,\nphone\n from `address`"
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Address_OnPrem",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Address_Blob_Storage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Pig_Data_Transfrm",
				"type": "HDInsightPig",
				"dependsOn": [
					{
						"activity": "Film_Table",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Customer_Table",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Inventory_Table",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Rental_Table",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "DeletePigOutputIfExists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"scriptPath": "sm-scripts/pig-scripts/data-factory-pig-script.pig",
					"defines": {
						"InputCustomer": "wasbs://sm-onprem-to-cloud-source@sm1storageaccount1.blob.core.windows.net/customer/",
						"InputFilm": "wasbs://sm-onprem-to-cloud-source@sm1storageaccount1.blob.core.windows.net/film/",
						"InputInventory": "wasbs://sm-onprem-to-cloud-source@sm1storageaccount1.blob.core.windows.net/Inventory/",
						"InputRental": "wasbs://sm-onprem-to-cloud-source@sm1storageaccount1.blob.core.windows.net/rental/",
						"InputAddress": "wasbs://sm-onprem-to-cloud-source@sm1storageaccount1.blob.core.windows.net/address/",
						"OutputCustomer": "wasbs://sm-pig-output@sm1storageaccount1.blob.core.windows.net/customer/",
						"OutputFilm": "wasbs://sm-pig-output@sm1storageaccount1.blob.core.windows.net/film/",
						"OutputInventory": "wasbs://sm-pig-output@sm1storageaccount1.blob.core.windows.net/inventory/",
						"OutputRental": "wasbs://sm-pig-output@sm1storageaccount1.blob.core.windows.net/rental/",
						"OutputAddress": "wasbs://sm-pig-output@sm1storageaccount1.blob.core.windows.net/address/"
					},
					"scriptLinkedService": {
						"referenceName": "AzureBlobStorage_LinkedService",
						"type": "LinkedServiceReference"
					}
				},
				"linkedServiceName": {
					"referenceName": "HDInsight_Linked_Service",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Overdue_Dvds_Hive",
				"type": "HDInsightHive",
				"dependsOn": [
					{
						"activity": "HiveOutputFolders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"scriptPath": "sm-scripts/hive-scripts/data-factory-hive-script.hql",
					"defines": {
						"inputcustomertable": "wasbs://sm-pig-output@sm1storageaccount1.blob.core.windows.net/customer/",
						"inputfilmtable": "wasbs://sm-pig-output@sm1storageaccount1.blob.core.windows.net/film/",
						"inputinventorytable": "wasbs://sm-pig-output@sm1storageaccount1.blob.core.windows.net/inventory/",
						"inputrentaltable": "wasbs://sm-pig-output@sm1storageaccount1.blob.core.windows.net/rental/",
						"inputaddresstable": "wasbs://sm-pig-output@sm1storageaccount1.blob.core.windows.net/address/",
						"outputoverduetable": "wasbs://sm-hive-output@sm1storageaccount1.blob.core.windows.net/overdue-dvds/"
					},
					"scriptLinkedService": {
						"referenceName": "AzureBlobStorage_LinkedService",
						"type": "LinkedServiceReference"
					}
				},
				"linkedServiceName": {
					"referenceName": "HDInsight_Linked_Service",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "HiveOutputFolders",
				"description": "It will delete all hive output folders from Blob storage",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Pig_Data_Transfrm",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "DeleteHiveOutputFolders",
						"type": "DatasetReference"
					},
					"recursive": true,
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorage_LinkedService",
							"type": "LinkedServiceReference"
						},
						"path": "delete-logs"
					},
					"enableLogging": true
				}
			},
			{
				"name": "DeletePigOutputIfExists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "AddressDataExists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@activity('AddressDataExists').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "PigOutputFolders",
							"description": "It will delete all pig output folders from Blob storage",
							"type": "Delete",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"dataset": {
									"referenceName": "DeletePigOutputFolders",
									"type": "DatasetReference"
								},
								"recursive": true,
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage_LinkedService",
										"type": "LinkedServiceReference"
									},
									"path": "delete-logs"
								},
								"enableLogging": true
							}
						}
					]
				}
			},
			{
				"name": "AddressDataExists",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Address_Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "PigAddressOutputFile",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					]
				}
			},
			{
				"name": "CustomerDataExists",
				"type": "GetMetadata",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "PigAddressOutputFile",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					]
				}
			}
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}